# --- Firebase ---
FIREBASE_PROJECT_ID=kongopay-v2
FIREBASE_CLIENT_EMAIL=your-client-email@...
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# --- Binance ---
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret
BINANCE_TESTNET=true

 # --- Deriv (WebSocket live) ---
# Token pour compte réel
DERIV_TOKEN=votre_token_ici

# --- App ---
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*
