# Firebase Admin SDK
FIREBASE_PROJECT_ID=votre-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@votre-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nVotre clé privée ici\n-----END PRIVATE KEY-----"

# Binance API (obtenu depuis https://www.binance.com/en/support/faq/how-to-create-api-keys-on-binance-360002502072)
BINANCE_API_KEY=votre-binance-api-key
BINANCE_API_SECRET=votre-binance-api-secret
BINANCE_TESTNET=false

# Server
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*

# Mobile Money (numéros de réception pour les dépôts)
AIRTEL_MONEY_NUMBER=+243XXXXXXXXX
ORANGE_MONEY_NUMBER=+243XXXXXXXXX
MPESA_NUMBER=+243XXXXXXXXX
